<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>新規登録</h3>
      <%= form_with model: [:admin, @salon], local: true do |f| %>
        <div class="form-group row">
          <%= f.label :image, 'サロン画像', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.file_field :image, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :name, 'サロン名', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :genre_id, 'ジャンル', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.collection_select :genre_id, Genre.all, :id, :name, {}, {class: 'form-control'} %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :introduction, 'サロン情報', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_area :introduction, class: 'form-control' %>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3">
            <%= f.submit '新規投稿', class: 'btn btn-success text-white' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>